<!--<!DOCTYPE html>

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
       <meta name="apple-mobile-web-app-capable" content="yes" />
       <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
       <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
        
        
        <link rel="stylesheet" href="/dist/css/mobile-angular-ui-hover.min.css" />
        <link rel="stylesheet" href="/dist/css/mobile-angular-ui-base.min.css" />
        <link rel="stylesheet" href="/dist/css/mobile-angular-ui-desktop.min.css" />

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
        <script src="/dist/js/mobile-angular-ui.min.js"></script>
        

        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" href="css/style.css">
        <script src="js/BucketApp.js"></script>


        <script>
            document.addEventListener("deviceready", onDeviceReady, false);
            function onDeviceReady() {
                console.log("console.log works well");
            }
            function viewpeoplebtn(){
                window.location='viewpeople.html';
            }
            function addrecordbtn(){
                window.location='addrecord.html';
            }
            
            function searchbtn(){
                window.location='search.html';
            }
        </script>
        <title>Chinese Medicine</title>
    </head>
    <body ng-app="AngularUIBucketApp">-->
        <!--<div class="app">-->
<!--<div class="scrollable">
    <div class="scrollable-content section">
 
                    <a  ng-click='viewpeople()'><img src='img/silhouette78.png' width=150 height=150></a><br>
                    <a  ng-click='createrecord()'><img src='img/add197.png' width=150 height=150></a><br>
                    <a  ng-click='viewrecord()'><img src='img/magnifyingglass6.png' width=150 height=150></a>

    </div>
</div>-->

<div class="scrollable">
    <div class="scrollable-content section">
        <div class="row">
            <div class="col-xs-6"><a  ng-click='viewpeople()'><img src='img/silhouette78.png' width=150 height=150></a></div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <a  ng-click='createrecord()'><img src='img/add197.png' width=150 height=150></a><br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <a  ng-click='viewrecord()'><img src='img/magnifyingglass6.png' width=150 height=150></a>
            </div>
        </div>

    </div>
</div>

        <!--</div>-->
<!--        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>-->
