<div class="scrollable">
    <div class="scrollable-content section">
        
        <div>
            <button type="button" class="btn btn-primary pull-left" ng-click='main()'>Back</button>
                <h2 class="text-center">Patient</h2>
                
                <button type="button" class="btn btn-primary pull-right" ng-click='createpeople()'>
                Create
                </button>
        </div>
        <br><br>
        <div class="list-group" id='MyPatientList'>


        </div>
        <div data-ng-init="viewpeopleload()"></div>
    </div>
</div>